@media (max-width: 768px){
    header{
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
}

@media (max-width: 768px){
    h1{
        font-size: 1.2rem;
    }

    .contacto{
        margin: 20px;
        padding: 20px;
    }
}
@media (max-width: 768px){
    h1{
        font-size: 1.2rem;
    }

    .contacto{
        margin: 20px;
        padding: 20px;
    }
}
*{
    max-width: 100%;
}
input, textarea{
    width: 100%;
}
body{
    overflow-x: hidden;
}
@media (max-width: 768px){
    header{
        flex-direction: column;
        text-align: center;
    }

    nav{
        flex-wrap: wrap;
        justify-content: center;
    }
}





@media (max-width: 768px) {
    .logo h1 {
        font-size: 1.5rem; 
    }

    article {
        width: 90%;
        margin: 10px auto;
        padding: 15px;
    }

     }
    @media (max-width: 768px) {
  .tarjeta1, .tarjeta2, .tarjeta3, 
  .tarjeta4, .tarjeta5, .tarjeta6, 
  .tarjeta7, .tarjeta8, .tarjeta9 {
    width: 90%;   /* Ocupan casi todo el ancho */
    height: auto; /* Se adaptan al contenido */
  }

  .tarjetas {
    flex-direction: column; /* Se apilan en celular */
    align-items: center;
  }

  .tarjetas img {
    max-width: 80%; /* Las imágenes no se salen del contenedor */
    height: auto;
  }
}
 